{% from 'form_helper.html' import displayField, displayTable %}

{% extends "postlogin-layout.html" %}

{% block title %}<title>Dashboard - Admin</title>{% endblock %}

{% block style %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    td,
    th {
        text-align: center;
        vertical-align: middle;
    }
</style>

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='styles/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('admin_dashboard')}}">
                    <span data-feather="users"></span>
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('Table') }}">
                    <span data-feather="home"></span>
                    Show Tables
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('validate') }}">
                    <span data-feather="file"></span>
                    Security Clearance
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Attr') }}">
                    <span data-feather="shopping-cart"></span>
                    Create New Table
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('AddColumn') }}">
                    <span data-feather="users"></span>
                    Create New Column
                </a>
            </li>
        </ul>
    </div>
</nav>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Profile</h1>
    </div>
    <form class="form-inline" action="{{ url_for('admin_dashboard') }}" method="POST">
        {{ form_dp.hidden_tag() }}
        <label>Name: </label>
        {{ displayField(form_dp.fullname,'Full Name',value=data['Name'], autocomplete='off')}} <br>
        <label>Sex: </label>
        {{ displayField(form_dp.sex,'Sex',value=data['Gender'], autocomplete='off')}} <br>
        <label>Personal Email: </label>
        {{ displayField(form_dp.personal_email,'Personal Email',value=data['Personal_email'], autocomplete='off')}} <br>
        <label>Department Email: </label>
        {{ displayField(form_dp.department_email,'Department Email',value=data['Department_email'], autocomplete='off')}} <br>
        <label>Contact Number: </label>
        {{ displayField(form_dp.phone_number,'Phone Number',value=data['Phone_No'], autocomplete='off')}} <br>
        <label>National ID Card Number: </label>
        {{ displayField(form_dp.national_id_card_number,'NID',value=data['NID_No'], autocomplete='off')}} <br>
        <label>Rank: </label>
        {{ displayField(form_dp.rank,'Rank',value=data['Rank'], autocomplete='off')}} <br>
        <label>Station: </label>
        {{ displayField(form_dp.station,'Station', value=data['Station'], autocomplete='off')}} <br>
        <label>Officer ID: </label>
        {{ displayField(form_dp.officer_id,'Officer ID', value=data['Officer_id'], autocomplete='off', disabled=True)}} <br>
        {{ form_dp.update_button(class='btn btn-outline-dark mb-2') }}
    </form>
</main>
{% endblock %}