{% from 'form_helper.html' import displayField, displayTable %}

{% extends "postlogin-layout.html" %}

{% block title %}<title>Dashboard - Admin</title>{% endblock %}

{% block style %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='styles/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin_dashboard')}}">
                    <span data-feather="users"></span>
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('Table') }}">
                    <span data-feather="home"></span>
                    Show Tables
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('validate') }}">
                    <span data-feather="file"></span>
                    Security Clearance
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('Attr') }}">
                    <span data-feather="shopping-cart"></span>
                    Add New Crime Genre
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('AddColumn') }}">
                    <span data-feather="users"></span>
                    Create New Column
                </a>
            </li>
        </ul>
    </div>
</nav>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Add Crime Genre</h1>
    </div>
    <center>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <strong>{{message}}</strong>
        </div>
        {% endfor %}
        {% endwith %}
    </center>
    <br>
    {% if c==2 %}
    <form class="form-group" action="{{ url_for('CreateTable') }}" , method="POST">

        <label class="col-form-label-lg" for="at">Table Name:</label>
        <input class="form-control" type='text' id='name' , name='name' placeholder='Table Name'><br>
        {% for i in range (num) %}
        <label class="col-form-label-lg" for="at">Attribute Name:</label>
        <input class="form-control" type="text" id="at" name="at" placeholder="Enter Attribute Name"><br>
        <label class="col-form-label-lg" for="id1">Attribute Type :</label>
        <select class="form-control" name="op" id="op">
            <option value="0">Select Attrribute Type:</option>
            <option value="VARCHAR">String</option>
            <option value="INT">Integer</option>
            <option value="SMALLINT">SmallInteger</option>
            <option value="Date">Date</option>
        </select><br>

        <label class="col-form-label-lg" for="ta">Attribute Length:</label>

        <input class="form-control" type="number" id="ta" name="ta" placeholder="Attribute Length"><br>

        {% endfor %}
        <input class="btn btn-outline-dark btn mb-3" type="submit" value="Submit">
    </form>
    {% else %}
    <form class="row row-cols-lg-auto g-3 align-items-center" action="{{ url_for('CreateTable') }}" , method="POST">
        <div class="col-12">
            <div class="input-group">
                <label for="Attr" class="col-form-label-lg me-3">Number of Attributes:</label>
                {{ displayField(form.Attr,'Number of Attributes',autocomplete='off') }}
            </div>
        </div>
        <div class="col-12">
            {{ form.submit_button(class='btn btn-outline-dark my-3 btn-md') }}
        </div>
        {{ form.csrf_token }}
    </form>
    {% endif%}
</main>
{% endblock %}