{% from 'form_helper.html' import displayField, displayTable %}

{% extends "postlogin-layout.html" %}

{% block title %}<title>Dashboard - Admin</title>{% endblock %}

{% block style %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    td,
    th {
        text-align: center;
        vertical-align: middle;
    }
</style>

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='styles/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin_dashboard')}}">
                    <span data-feather="users"></span>
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('Table') }}">
                    <span data-feather="home"></span>
                    Show Tables
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('validate') }}">
                    <span data-feather="file"></span>
                    Security Clearance
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Attr') }}">
                    <span data-feather="shopping-cart"></span>
                    Add New Crime Genre
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('AddColumn') }}">
                    <span data-feather="users"></span>
                    Add New Column
                </a>
            </li>
        </ul>
    </div>
</nav>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">All Table Information</h1>
    </div>
    {% if c==1 %}
    <h3>No Table Selected</h3>
    <div id=center>
        <form class="form-group" action="{{ url_for('Table') }}" , method="POST">
            <label for="T_name" class="col-form-label-lg">Choose Table:</label><br>
            {{ form.T_name(class='form-select') }}
            <br>
            {{ form.submit_button(class='btn btn-outline-dark') }}
            <br>
            {{ form.csrf_token }}
        </form>
    </div>
    {% else %}
    <h3>{{ tn }}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            {{ displayTable(data,head) }}
        </table>
    </div>
    {% endif %}


</main>
{% endblock %}
