{% from 'form_helper.html' import displayField, displayTable %}

{% extends "postlogin-layout.html" %}

{% block title %}<title>Dashboard</title>{% endblock %}

{% block style %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='styles/dashboard.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('display_profile')}}">
                    <span data-feather="user"></span>
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('dashboard') }}">
                    <span data-feather="file-text"></span>
                    Crime Report
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('showcriminals') }}">
                    <span data-feather="users"></span>
                    Criminals
                </a>
            </li>
        </ul>
    </div>
</nav>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Profile</h1>
    </div>
    <center>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <strong>{{message}}</strong>
        </div>
        {% endfor %}
        {% endwith %}
    </center>
    <br>
    <form class="form-inline" action="{{ url_for('display_profile') }}" method="POST">
        {{ form_dp.hidden_tag() }}
        <label class="col-form-label-lg">Name: </label>
        {{ displayField(form_dp.fullname,'Full Name',value=data['Name'], autocomplete='off')}} <br>
        <label class="col-form-label-lg">Sex: </label>
        {{ form_dp.sex(class="form-select", value=data['Gender'], autocomplete='off') }}<br>
        <label class="col-form-label-lg">Personal Email: </label>
        {{ displayField(form_dp.personal_email,'Personal Email',value=data['Personal_email'], autocomplete='off')}} <br>
        <label class="col-form-label-lg">Department Email: </label>
        {{ displayField(form_dp.department_email,'Department Email',value=data['Department_email'], disabled=True, autocomplete='off')}} <br>
        <label class="col-form-label-lg">Contact Number: </label>
        {{ displayField(form_dp.phone_number,'Phone Number',value=data['Phone_No'], autocomplete='off')}} <br>
        <label class="col-form-label-lg">National ID Card Number: </label>
        {{ displayField(form_dp.national_id_card_number,'NID',value=data['NID_No'],disabled=True, autocomplete='off')}} <br>
        <label class="col-form-label-lg">Rank: </label>
        {{ displayField(form_dp.rank,'Rank',value=data['Rank'],disabled=True, autocomplete='off')}} <br>
        <label class="col-form-label-lg">Station: </label>
        {{ displayField(form_dp.station,'Station', value=data['Station'], disabled=True, autocomplete='off')}} <br>
        <label class="col-form-label-lg">Officer ID: </label>
        {{ displayField(form_dp.officer_id,'Officer ID', value=data['Officer_id'],disabled=True, autocomplete='off')}} <br>
        <label class="col-form-label-lg">Old Password: </label>
        {{ displayField(form_dp.old_password,'Old Password', autocomplete='off')}} <br>
        <label class="col-form-label-lg">New Password: </label>
        {{ displayField(form_dp.new_password,'New Password', autocomplete='off')}} <br>
        <label class="col-form-label-lg">Confirm Password: </label>
        {{ displayField(form_dp.confirm_pswd,'Confirm Password', autocomplete='off')}} <br>
        {{ form_dp.update_button(class='btn btn-outline-dark mb-3') }}
    </form>
</main>
{% endblock %}
