{% from 'form_helper.html' import displayField, displayTable %}

{% extends "prelogin-layout.html" %}

{% block metadata %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashstylesheet.css') }}">
{% endblock %}

{% block content %}
<div id=header>
  <h1>POLICE DEPARTMENT</h1>
</div>
<div id=container>
  <div id=nav>
	<center>

	<!-- Only change the 'This is navigation' to the name of the feature -->

        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('showcriminals') }}">Criminals</a>
    	<a href=''>Navigation</a>
	</center>
  </div>
  <div id=info>
	  		<!-- Change this if needed -->
		<center>
            <h3>Criminals</h3>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {{ messages[0][1] }}
                {% endif %}
            {% endwith %}
        </center>

		<!-- Only add html code here after removing the placeholder text -->
        {% if flag == 'insert' %}
            <div>
                <form action="{{ url_for('insert_criminal') }}", method="POST" enctype='multipart/form-data'>
                    {{ form.hidden_tag() }}
                    {{ displayField(form.name,'Name') }}<br>
                    {{ displayField(form.age,'Age') }}<br>
                    {{ displayField(form.nationality,'Nationality') }}<br>
                    {{ displayField(form.nid_no,'NID No.') }}<br>
                    {{ displayField(form.motive,'Motive') }}<br>
                    {{ displayField(form.phone_number,'Phone No.') }}<br>
                    {{ displayField(form.address,'Address') }}<br>
                    {{ displayField(form.remark,'Remark') }}<br>
                    {{ form.photo }}<br>
                    {{ form.submit_button }}
                </form>
            </div>
        {% elif flag == 'show' %}
            <div>
                <form action="{{ url_for('query') }}", method="POST">
                    {{ form.hidden_tag() }}
                    {{ displayField(form.query, 'Photo Query') }}
                    {{ form.search }}
                </form>
                <form action="{{ url_for('insert_criminal') }}", method="GET">
                    <input type='submit' value='Add'>
                </form>
                <form action="{{ url_for('showcriminals') }}", method="POST", enctype='multipart/form-data'>
                    <label for='update'>Criminal_ID</label><br>
                    <input required type='number' name='update_id' id='update' placeholder='Criminal_ID to Update'><br>
                    <input required type='file' name='photo' id='photo'><br>
                    <input type='submit' name='update' id='update_button' value='Update'>
                </form>
                {{ displayTable(data,head) }}
            </div>
        {% else %}
            <form action="{{ url_for('query') }}", method="POST">
                {{ form.hidden_tag() }}
                {{ displayField(form.query, 'Photo Query') }}
                {{ form.search }}
            </form>
            {{ displayTable(data,head) }}
        {% endif %}
  </div>
</div>
{% endblock %}
