{% from 'form_helper.html' import displayField, displayTable, displaySearchData %}

{% extends "postlogin-layout.html" %}

{% block title %}<title>Dashboard</title>{% endblock %}

{% block style %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='styles/dashboard.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('display_profile')}}">
                    <span data-feather="user"></span>
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard') }}">
                    <span data-feather="file-text"></span>
                    Crime Report
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('showcriminals') }}">
                    <span data-feather="users"></span>
                    Criminals
                </a>
            </li>
        </ul>
    </div>
</nav>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Crime Report</h1>
        <div class="btn-group me-2">
            <a id="btnGroupDrop1" class="btn btn-sm btn-outline-dark" aria-expanded="false" href="{{ url_for('show_today_report') }}">
                Today's Crime Report
            </a>
            <a id="btnGroupDrop1" class="btn btn-sm btn-outline-dark" aria-expanded="false" href="{{ url_for('show_yesterday_report') }}">
                Yesterday's Crime Report
            </a>
        </div>
    </div>
    <center>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <strong>{{message}}</strong>
        </div>
        {% endfor %}
        {% endwith %}
    </center>
    <div class="table-responsive">
        <table class="table table-sm table-hover table-sortable">
            {{ displaySearchData(data, meta) }}
        </table>
    </div>
</main>
{% endblock %}
