{% from 'form_helper.html' import displayField %}

{% extends "prelogin-layout.html" %}

{% block metadata %}
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
{% endblock %}

{% block content %}
	<div id = header>
			<h1>POLICE DEPARTMENT</h1>
	</div>
	<div id=centercont>
			<div id=imgdiv>
				<img src="../static/images/2.jpg" alt='Police Icon'>
			</div>
			<div id=center>
				<form action="{{ url_for('Login') }}", method="POST">
					<!-- Connecting the username attribute from LoginForm class in wtforms.py file and checking for error -->
					{{ displayField(form.username,'Username',autocomplete='off',autofocus=true) }}

					<!-- Connecting the password from LoginForm class in wtforms.py file and checking for error -->
					{{ displayField(form.password,'Password') }}

					<center>{{ form.submit_button }}</center><br>
					{{ form.csrf_token }}
					<center>
						{% with messages = get_flashed_messages(with_categories=true) %}
				            {% if messages %}
				                {{ messages[0][1] }}
				            {% endif %}
				        {% endwith %}
					</center>
				</form>
			</div>
	</div>
{% endblock %}
