{% from 'form_helper.html' import displayField %}

{% extends "prelogin-layout.html" %}

{% block metadata %}
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Registration Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
{% endblock %}

{% block content %}
	<div id=header>
		<h1>POLICE DEPARTMENT</h1>
	</div>
	<div id=container>
		<form action="{{ url_for('index') }}", method="POST">
			<h3><u>Personal Information:</u></h3>
			<div class=inner>
				<div class="left">
					<label for="fname">Full Name:</label><br>
					{{ displayField(form.fullname,'Full Name', autocomplete='off', autofocus=true) }}
					<!--<input type="text" placeholder="Enter Your Full Name" id="fname" name="Fullname" value=""><br>-->
					<label for="sex">Sex:</label><br>
					{{ form.sex(class='form-control') }}
					<!--<select id="sex" name="Sex">
						<option value="default">Choose</option>
						<option value="M">Male</option>
						<option value="F">Female</option>
					</select><br>-->
					<label for="phone">Phone Number:</label><br>
					{{ displayField(form.phone_number,'Phone Number') }}
					<!--<input type="number" placeholder="Enter Your Phone Number" id="phone" name="PhoneNo." value=""><br>-->
				</div>
				<div class="right">
					<label for="pmail">Personal Email:</label><br>
					{{ displayField(form.personal_email,'Personal Email') }}
					<!--<input type="email" placeholder="Enter Your Personal Email" id="pmail" name="PMail" value=""><br>-->
					<label for="dmail">Departmental Email:</label><br>
					{{ displayField(form.department_email,'Department Email') }}
					<!--<input type="email" placeholder="Enter Your Departmental Email" id="dmail" name="DMail" value=""><br>-->
					<label for="nid">National ID Card Number:</label><br>
					{{ displayField(form.national_id_card_number,'NID No.') }}
					<!--<input type="text" placeholder="Enter Your NID No." id="nid" name="NID" value=""><br>-->
				</div>
			</div>
			<h3><u>Account Information:</u></h3>
			<div class=inner>
				<div class="left">
					<label for="user">Username:</label><br>
					{{ displayField(form.username,'Username') }}
					<!--<input type="text" placeholder="Enter Username" id="user" name="Username" value=""><br>-->
					<label for="rank">Rank:</label><br>
					{{ displayField(form.rank,'Rank') }}
					<!--<input type="text" placeholder="Enter Rank" id="rank" name="Rank" value=""><br>-->
					<label for="station">Station:</label><br>
					{{ displayField(form.station,'Station') }}
					<!--<input type="text" placeholder="Enter Your Station" id="station" name="Station" value=""><br>-->
				</div>
				<div class="right">
					<label for="offID">Officer ID:</label><br>
					{{ displayField(form.officer_id,'Officer ID') }}
					<!--<input type="text" placeholder="Enter Your Officer ID" id="offID" name="OffID" value=""><br>-->
					<label for="pass">Password:</label><br>
					{{ displayField(form.password,'Password') }}
					<!--<input type="password" placeholder="Enter Password" id="pass" name="Password" value=""><br>-->
					<label for="passagn">Confirm Password:</label><br>
					{{ displayField(form.confirm_pswd,'Confirm Password') }}
					<!--<input type="password" placeholder="Repeat Password" id="passagn" name="PassAgn" value=""><br>-->
				</div>
			</div>
			<center>{{ form.submit_button }}</center><br>
			{{ form.csrf_token }}
		</form>
	</div>
{% endblock %}
<!--
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Registration Page</title>
		<link rel="stylesheet" href="../css/default.css">
		<link rel="stylesheet" href="../css/stylesheet.css">
	</head>
	<body>
		<div id=header>
			<h1>POLICE DEPARTMENT</h1>
		</div>
		<div id=container>
			<form>
				<h3><u>Personal Information:</u></h3>
				<div class=inner>
					<div class="left">
						<label for="fname">Full Name:</label><br>
						<input type="text" placeholder="Enter Your Full Name" id="fname" name="Fullname" value=""><br>
						<label for="sex">Sex:</label><br>
						<select id="sex" name="Sex">
							<option value="default">Choose</option>
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select><br>
						<label for="phone">Phone Number:</label><br>
						<input type="number" placeholder="Enter Your Phone Number" id="phone" name="PhoneNo." value=""><br>
					</div>
					<div class="right">
						<label for="pmail">Personal Email:</label><br>
						<input type="email" placeholder="Enter Your Personal Email" id="pmail" name="PMail" value=""><br>
						<label for="dmail">Departmental Email:</label><br>
						<input type="email" placeholder="Enter Your Departmental Email" id="dmail" name="DMail" value=""><br>
						<label for="nid">National ID Card Number:</label><br>
						<input type="text" placeholder="Enter Your NID No." id="nid" name="NID" value=""><br>
					</div>
				</div>
				<h3><u>Account Information:</u></h3>
				<div class=inner>
					<div class="left">
						<label for="user">Username:</label><br>
						<input type="text" placeholder="Enter Username" id="user" name="Username" value=""><br>
						<label for="rank">Rank:</label><br>
						<input type="text" placeholder="Enter Rank" id="rank" name="Rank" value=""><br>
						<label for="station">Station:</label><br>
						<input type="text" placeholder="Enter Your Station" id="station" name="Station" value=""><br>
					</div>
					<div class="right">
						<label for="offID">Officer ID:</label><br>
						<input type="text" placeholder="Enter Your Officer ID" id="offID" name="OffID" value=""><br>
						<label for="pass">Password:</label><br>
						<input type="password" placeholder="Enter Password" id="pass" name="Password" value=""><br>
						<label for="passagn">Confirm Password:</label><br>
						<input type="password" placeholder="Repeat Password" id="passagn" name="PassAgn" value=""><br>
					</div>
				</div>
				<center><input type="button" value="Register"></center><br>
			</form>
		</div>
	</body>
</html>
-->
